* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.movie-list-title {
  color: #fff;
}
.movie-list-container {
  margin: 20px;
  position: relative;
}
.movie-list {
  list-style-type: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(0);
  transition: 1s all ease-in-out;
}
.movie-list-wrapper {
  overflow: hidden;
  position: relative;
}
.movie-item {
  position: relative;
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}
.movie-item:hover .movie-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}
.movie-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: 1s all ease-in-out;
}
.movie-item-title {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 30px;
  color: #fff;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-item-buttons {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 0 10px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  color: #fff;
  display: flex;
  column-gap: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  font-size: 20px;
  transition: 0.5s all ease;
}
.movie-item-buttons i:hover {
  opacity: 1;
}

.arrows {
  width: 100%;
  font-size: 120px;
  color: #fff;
  position: absolute;
  top: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrows i {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
  transition: 0.5s ease all;
}

.arrows i:hover {
  opacity: 1;
}
